@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    background-color: #2e2e2e;
    color: #ccc;
    transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
    background-color: #ccc;
    color: #2e2e2e;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    text-align: center;
    padding: 8px 14px;
    border: 2px inset #ccc;
    border-radius: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    animation: rainbow-border 3s infinite;
    background-color: #ccc;
    color: #2e2e2e;
}

@keyframes rainbow-border {
    0% { border-color: red; }
    14% { border-color: orange; }
    28% { border-color: yellow; }
    42% { border-color: green; }
    57% { border-color: blue; }
    71% { border-color: indigo; }
    85% { border-color: violet; }
    100% { border-color: red; }
}

body.light-mode a {
    color: #2e2e2e;
}

body.light-mode a:hover {
    background-color: #2e2e2e;
    color: #ccc;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Optional: gives a slight background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures it sits above other content */
}

.loading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-content img {
    height: 150px;
}

.loading-text {
    font-size: 24px;
    color: #ccc; /* Text color */
    font-weight: bold;
    margin-top: 10px;
    opacity: 1;
    animation: none;
}

.theme-switch {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin: 0 10px;
}

.dark-icon {
    color: #2e2e2e;
}

body.light-mode .dark-icon {
    color: #2e2e2e;
}

.light-icon {
    color: #ffd700;
}

body.light-mode .light-icon {
    color: #ccc;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.experience-container {
    padding: 10px 10px;
    border-bottom: #ccc dashed 2px;
}

body.light-mode .experience-container {
    border-bottom: #2e2e2e dashed 2px
}

.text-box {
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .text-box .work-description  {
        font-size: 15px;
    }
}

.company-title {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.company-title img {
    border-radius: 50%;
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5);
}

body.light-mode .company-title img {
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.5);
}

.images {
    display: flex;
    justify-content: left;
    gap: 0.8rem;
}

.images img {
    width: 180px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .images {
        flex-direction: column;
        align-items: center;
    }
}

body.light-mode .images img {
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.5);
}

.links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 20px 0;
}

.links a {
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
}

.links a:hover {
    transform: scale(1.5);
}

body.light-mode .links a {
    color: #2e2e2e;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px #ccc solid;
    padding: 8px 12px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

body.light-mode .skills-items {
    border: 1px solid #2e2e2e;
}

.skills-items:hover {
    transform: translateY(-5px);
}

.skills-items:hover:nth-child(even) {
    transform: translateY(5px);
}

.skills-items img {
    width: 50px;
}

.skills-items p {
    margin: 5px 0;
}

@media (max-width:768px) {
    .skills-container {
        flex-direction: column;
    }
}

.section-title {
    position: relative; /* Position relative to allow absolute positioning of the pseudo-element */
    overflow: hidden; /* Hide the overflow to prevent the pseudo-element from being visible initially */
}

.section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position it at the bottom */
    width: 100%; /* Full width */
    height: 3px; /* Height of the border */
    background-color: #ccc; /* Color of the border */
    transform: scaleX(0); /* Start with 0 width */
    transition: transform 0.5s ease; /* Transition effect */
}

.section-title:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}